@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Matura";
        src: url("../../public/fonts/Matura.ttf") format("truetype");
    }
    @font-face {
        font-family: "PTSerif-Regular";
        src: url("../../public/fonts/PTSerif-Regular.ttf") format("truetype");
    }
    @font-face {
        font-family: "Montserrat-Regular";
        src: url("../../public/fonts/Montserrat-Regular.ttf") format("truetype");
    }
}
